#login {
  width: 100vw;
}

#login .logo {
  padding: 24px;
}

#login .logo .logo__img {
  top: 24px;
  left: 24px;
  height: 32px;
}

#login .login {
  width: 360px;
  height: calc(100vh - 82px);
  display: flex;
  margin: 0 auto;
}

#login form {
  width: 100%;
  align-self: center;
}

#login form .login--form__title {
  text-align: center;
  color: var(--Black);
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 60px;
}

#login form input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#login form .login--submit {
  border: none;
  cursor: pointer;
}

#login form .input-wrap a {
  color: var(--grey);
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.3px;
}

#login form .form__pw {
  margin-bottom: 30px;
}

#login form .form__pw a .search {
  color: var(--grey);
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.3px;
}

#login form .form__pw .login--form__find {
  text-align: right;
}

#login form .register__recommand {
  text-align: center;
  color: var(--black-700-black);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
}

#login form .register__recommand a {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.2px;
}
