










/* HOLIDAY */

.holiday {
	height: 360px;
}


.holiday .holiday__chart {
	width: 40%;
	margin: 50px auto 35px;
	text-align: center;
}

.holiday .holiday__left {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px;
}

.holiday .holiday__left p {
	color: #A3AED0;
	font-size: 12px;
	font-weight: 500;
}

.holiday .holiday__left strong {
	color: #2B3674;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px; /* 166.667% */
}

.holiday .holiday__left .left__annual,
.holiday .holiday__left .left__compensatory,
.holiday .holiday__left .left__etc {
	position: relative;
}	

.holiday .holiday__left .left__annual::before,
.holiday .holiday__left .left__compensatory::before, 
.holiday .holiday__left .left__etc::before {
	position: absolute;
	content: "";
	width: 8px;
	height: 8px;
	border-radius: 50%;
	top: 2px;
	left: -10px;
}

.holiday .holiday__left .left__annual {
	
}

.holiday .holiday__left .left__annual::before {
	background-color:#4318FF;
}

.holiday .holiday__left .left__compensatory {
	
}

.holiday .holiday__left .left__compensatory::before {
	background-color:#6AD2FF;
}

.holiday .holiday__left .left__etc {
	
}

.holiday .holiday__left .left__etc::before {
	background-color:#6AD2FF;
}



/* absence */
.absence {
	
}

.absence .box__top {
	margin-bottom: 36px;
}


.absence .box__top .absence--modal {
	width: 30vh;
	height: 100vh;
	margin-right : 0;
	padding-top: 200px;
	padding-left: 72px;
	padding-right: 72px;
	border-radius: 16px 0px 0px 16px;
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
	border: none;
}

.absence .box__top .absence--modal .absence--propose {
	text-align: center;
}

.absence .box__top .absence--modal .absence--propose p {
	color: var(--black-700-black, #121212);
	font-size: 40px;
	font-weight: 700;
	line-height: 44px; /* 110% */
	margin-bottom: 100px;
}

.absence .box__top .absence--modal .absence--propose form {
	text-align: start;
	margin: 10px;
}

.absence .box__top .absence--modal .absence--propose form .input-wrap {
	margin-bottom: 20px;
}

.absence .box__top .absence--modal .absence--propose form input,
.absence .box__top .absence--modal .absence--propose form select,
.absence .box__top .absence--modal .absence--propose form textarea {
	box-sizing: border-box;
	width: 100%;
}

.absence .box__top .absence--modal .absence--propose form input[type='submit'] {
	border: none;
}

.absence .box__top .absence--modal .absence--propose form span {
	display: block;
	text-align: center;
	margin-top: 8px;
	font-size: 12px;
	line-height: 18px; /* 150% */
	}

.absence .box__top .absence--modal .absence--propose form span strong {
	color: var(--pointColor, #0064FF);
	font-weight: 400;
}


.absence .box__top .absence--modal .absence--propose .absence--modal__close {
	position: fixed;
	top: 20px;
	right: 20px;
}
.absence .box__top .absence--modal .absence--propose .absence--modal__close::after {
	content: "\00d7";
	font-size: 30px;
}