.card--main{
  display: flex;
  width: 1152px;
  height: auto;
  gap: 24px;
  flex-wrap: wrap;
}
.card {
  width: 344px;
  height: 336px;
  padding: 12px;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.07);
}
.image-container {
  border-radius: 8px;
  width: 344px;
  height: 157px; 
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  border-radius: 8px;
  width: 100%;
  height: auto;
  object-fit: cover; /* 이미지 잘림 방지 및 중심 맞추기 */
  object-position: center; /* 이미지를 중앙으로 배치 */
}
li .card__title {
  padding: 16px 16px 16px 4px;
}
li .card__title p {
  width: 328px;
  height: 19px;
  overflow: hidden; /*길면 짤림*/
  color: var(--Black, #1D1B20);
  font-feature-settings: 'liga' off, 'clig' off;
  text-overflow: ellipsis;
  white-space: nowrap;

  /* Body 1/700 */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  letter-spacing: 0.2px;
}
li .card__content {
  padding: 0px 16px 16px 6px;
  height: 40px;
  
}
li .card__content p {
  color:#4D515B;
  font-feature-settings: 'liga' off, 'clig' off;
  /* text-overflow: ellipsis;
  white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all; /*단어 단위로 줄바꿈*/
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.2px;
}
li .card__author {
  display: flex;
  border-radius: 12px;
  background:#F5F5F5;
  height: 46px;
  padding: 13px 16px;

}
li .card__author .author-container {
  display: flex;
  gap: 10px;
  width: 312px;
  
}
li .card__author img {
  width: 44px;
  height: 44px;
  border-radius: 12px;
}
li .card__author .author-content {
  /* gap: 10px; */
  background-color: brown;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
li .card__author .author-info {
  
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
}
li .card__author .author-info .author__position {
  background-color: yellow;
}
li .card__author .author-info .author__name {
  background-color: greenyellow;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}
li .card__author time {
  color: #fff;
  background-color: black;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  letter-spacing: 0.2px;
}