@import url(./../style/_reset.css);
@import url(./../style/_font.css);
@import url(./header/header.css);
@import url(./nav/nav.css);

:root {
  --pointColor: #0064FF;
  --pointColor2: #E9F2FF;
  --pointColor3: #E7F1FF;
  --superBrightPoint: #F6EDFF;
  --grey: #202632;
  --grey2: #4D515B;
  --grey3: #797D84;
  --grey4: #A0A6B1;
  --Black: #1D1B20;
  --black-700-black: #121212;
  --background: #F3F5F6;
  --gutter: 24px;
}

/* layout */
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.wrap {
  width: calc(100% - 236px);
  margin-left: 236px;
  padding: 24px;
  background-color: var(--background);
  box-sizing: border-box;
}

.container {
  min-height: calc(100vh - 176px - 48px);
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + var(--gutter));
  gap: 24px;
}

.col-1 {
  flex: 0 0 auto;
  width: calc(8.33333333% - var(--gutter));
}

.col-2 {
  flex: 0 0 auto;
  width: calc(16.66666667% - var(--gutter));
}

.col-3 {
  flex: 0 0 auto;
  width: calc(25% - var(--gutter));
}

.col-4 {
  flex: 0 0 auto;
  width: calc(33.33333333% - var(--gutter));
}

.col-5 {
  flex: 0 0 auto;
  width: calc(41.66666667% - var(--gutter));
}

.col-6 {
  flex: 0 0 auto;
  width: calc(50% - var(--gutter));
}

.col-7 {
  flex: 0 0 auto;
  width: calc(58.33333333% - var(--gutter));
}

.col-8 {
  flex: 0 0 auto;
  width: calc(66.66666667% - var(--gutter));
}

.col-9 {
  flex: 0 0 auto;
  width: calc(75% - var(--gutter));
}

.col-10 {
  flex: 0 0 auto;
  width: calc(83.33333333% - var(--gutter));
}

.col-11 {
  flex: 0 0 auto;
  width: calc(91.66666667% - var(--gutter));
}

.col-12 {
  flex: 0 0 auto;
  width: calc(100% - var(--gutter));
}


/* button */
.btn {
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: var(--superBrightPoint);
  border-radius: 8px;
}

.btn.btn--primary {
  background-color: var(--pointColor);
}

.btn.btn--secondary {
  background-color: var(--grey4);
}

/* box */
.box {
  padding: 20px;
  background-color: #FFF;
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}

.box .box__top {
  display: flex;
  justify-content: space-between;
}

.box .box__top .box__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: var(--black-700-black);
}

.box .box__top .box__more {
  width: 20px;
  height: 20px;
  background-image: url(./../../public/images/icon_more.png);
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat;
}

/* input */
.input-wrap .input-label {
  display: block;
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: var(--Black);
}

.input-wrap .input-text {
  padding: 12px 16px;
  font-size: 12px;
  font-weight: 600;
  color: var(--Black);
  border: 1px solid var(--Black);
  border-radius: 4px;
}

.input-wrap .input-text::placeholder {
  font-weight: 400;
  color: var(--grey);
}

.input-wrap .input-text--textarea {
  font-weight: 400;
}

/* select */
.select {
  padding: 12px 40px 12px 16px;
  font-size: 12px;
  font-weight: 600;
  color: var(--Black);
  border: 1px solid var(--Black);
  border-radius: 4px;
  background: #fff url(./../../public/images/icon_arrow-down.png) right 10px center no-repeat;
  background-size: 24px;
}

/* table */
.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 2px;
  background-color: #fff;
}

.table.table--center thead tr th,
.table.table--center tbody tr td {
  text-align: center;
}

.table thead tr th {
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.2px;
  text-align: left;
  color: var(--grey3);
}

.table tbody tr {
  background-color: var(--pointColor2);
}

.table tbody tr td {
  padding: 14px 16px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: var(--Black);
}

.table tbody tr td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.table tbody tr td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.table tbody tr td .label {
  padding: 4px 16px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  border-radius: 8px;
}

.table tbody tr td .label--red {
  color: #F28C8C;
  background-color: #FFF2F2;
}

.table tbody tr td .label--orange {
  color: #FABC84;
  background-color: #FCE7D8;
}

.table tbody tr td .label--green {
  color: #93E9B8;
  background-color: #EAFCF1;
}

.table tbody tr td .label--purple {
  color: #C9B3ED;
  background-color: #F4F0FB;
}

/* pagination */
.pagination {
  display: inline-flex;
  padding: 14px 24px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04), 0 8px 16px 0 rgba(0, 0, 0, 0.08);
}

.pagination a {
  margin: 0 2px;
  width: 28px;
  height: 28px;
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  color: var(--grey2);
}

.pagination a.active {
  color: #fff;
  background-color: var(--pointColor);
  border-radius: 100%;
}

.pagination .pagination--prev {
  margin-right: 48px;
  background: url(./../../public/images/icon_arrow_prev.png) center center no-repeat;
  background-size: 8px 16px;
  text-indent: -9999px;
}

.pagination .pagination--next {
  margin-left: 48px;
  background: url(./../../public/images/icon_arrow_next.png) center center no-repeat;
  background-size: 8px 16px;
  text-indent: -9999px;
}