#home .box {
  display: flex;
  flex-flow: column nowrap;
  height: 360px;
}

/* box--user */
#home .box--user .box__bottom {
  padding: 50px 0;
  text-align: center;
}

#home .box--user .user-img {
  width: 174px;
  border-radius: 100%;
}

#home .box--user .user-info {
  margin-top: 8px;
}

#home .box--user .user-info .user-info__name {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: var(--black-700-black);
}

#home .box--user .user-info .user-info__position {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: var(--grey3);
}

/* box--graph */
#home .box--graph .box__top {
  margin-bottom: 4px;
}

#home .box--graph .box__bottom {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

#home .box--graph .graph__time {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: var(--grey3);
}

#home .box--graph .graph__list {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 22px;
  padding: 0 20px;
  border-bottom: 1px solid var(--grey3);
}

#home .box--graph .graph__list .graph__item {
	position: relative;
  height: 206px;
  width: 36px;
	text-align: center;
  background-color: #F6B3B5;
}

#home .box--graph .graph__list .graph__item .graph__title {
  display: block;
  position: absolute;
  bottom: -24px;
  width: 100%;
  color: var(--grey2);
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.2px;
}

#home .box--graph .graph__list .graph__item .graph__bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 2px solid #fff;
  background-color: var(--pointColor);
  transform: scaleY(0);
	transform-origin: center bottom;
  transition: all 0.3s ease-in-out;
}

#home .box--graph .graph__list .graph__item .graph__bar.active {
	transform: none;
}

/* box--time */
#home .box--time .box__top {
  margin-bottom: 4px;
}

#home .box--time .box__bottom {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

#home .box--time .time-view .time-view__countdown {
  display: block;
  margin-bottom: 4px;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  color: var(--grey);
}
#home .box--time .time-view .time-view__now {
  display: block;
  color: var(--grey3);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

#home .box--time .time-state {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-top: auto;
}

#home .box--time .time-state .time-state__now .now__title {
  display: block;
  color: var(--black-700-black);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

#home .box--time .time-state .time-state__now .now__switch {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 30px;
}

#home .box--time .time-state .time-state__now .now__switch .switch__input {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  appearance: none;
  background-color: var(--grey2);
  border-radius: 20px;
  transition: background-color 0.2s linear;
  cursor: pointer;
}

#home .box--time .time-state .time-state__now .now__switch .switch__input::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 6px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 100%;
  transition: transform 0.2s ease-in-out;
}

#home .box--time .time-state .time-state__now .now__switch .switch__input.active {
  background-color: var(--pointColor);
}

#home .box--time .time-state .time-state__now .now__switch .switch__input.active::before,
#home .box--time .time-state .time-state__now .now__switch .switch__input.active::after {
  transform: translateX(calc(60px - 20px - 12px));
}

#home .box--time .time-state .time-state__now .now__switch .switch__input.active::after {
  opacity: 1;
}

#home .box--time .time-state .time-state__now .now__label {
  color: var(--grey2);
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
}

#home .box--time .time-state .time-state__now .now__label.active {
  color: var(--pointColor);
}

/* box--work */
#home .box--work .box__bottom {
  margin-top: auto;
}

/* box--notice */
#home .box--notice .box__bottom {
  margin-top: auto;
}

#home .box--notice .notice-list li:last-child a {
  padding-bottom: 0;
}

#home .box--notice .notice-list li a {
  display: block;
  padding: 8px 0;
  color: var(--Black);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* box--meeting */
#home .box--meeting .box__bottom {
  margin-top: auto;
}

#home .box--meeting .meeting-list .meeting-list__item {
  position: relative;
}

#home .box--meeting .meeting-list .meeting-list__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: var(--pointColor);
  border-radius: 2px;
}

#home .box--meeting .meeting-list .meeting-list__item + .meeting-list__item {
  margin-top: 18px;
}

#home .box--meeting .meeting-list .meeting-list__item .item__link {
  display: block;
  padding-left: 14px;
}

#home .box--meeting .meeting-list .meeting-list__item .item__link .item__title {
  color: #1B2559;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.32px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#home .box--meeting .meeting-list .meeting-list__item .item__link .item__time {
  color: #A3AED0;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.24px;
}

/* modal */
#home .modal {
  width: 400px;
  padding: 30px 20px 20px;
  border: 0;
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}

#home .modal::backdrop {
  background-color: #000;
  opacity: 0.5;
}

#home .modal .modal__header {
  margin-bottom: 40px;
}

#home .modal .modal__header .modal__title {
  color: var(--black-700-black);
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
}

#home .modal .modal__body .modal__content {
  margin-bottom: 60px;
  font-size: 20px;
}

#home .modal .modal__footer {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}